h1{
    text-align: center;
}

.container{
    margin: auto;
    width: 80%;
}

.container>p{
    text-align: center;
    margin: 10px auto;
}

img{
    height: auto;
    width: 45%;
    border-radius: 5px;
    margin: auto;
}