h1{
    text-align: center;
    margin: 8px;
}

.container{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content{
    width: 60%;
}

.container>p{
    text-align: center;
    margin: 10px auto;
}

img{
    height: auto;
    width: 30%;
    border-radius: 5px;
    margin-top: 3%;
}

@media only screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
    }
    .content{
        width: 90%;
        margin: auto;
    }
    img{
        width: 40%;
        margin: auto;
    }
}