/* navigation */
body{
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1%;
}
.navLinks{
    display: flex;
    flex-direction: row;
}
.navLink{
    margin-right: 10px;
}

.navLink:hover{
    text-decoration: underline;
}

.greeting{
    background-color: rgba(128, 128, 128, 0.349);
    width: 100%;
    padding: 5% 0;
    color: white;
    text-align: center;
    background-image: url(/img/space.jpg);
    background-size: cover;
    background-position: center;
}

.greeting>h1{
    font-family: 'Orbitron', sans-serif;
}

.greeting>img{
    width: 25vh;
    height: auto;
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 3px 3px 9px 0px #00000080;
    padding: 1% 3%;
}

@media only screen and (max-width: 768px) {
    .navbar{
        padding: 3%;
    }
    .greeting{
        padding: 15% 0;
    }
    .cards{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .card{
        margin-bottom: 2%;
    }
    
}