h1{
    text-align: center;
}

.project-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    border: 1px solid black;
    width: 90%; 
}
.project-title{
    text-shadow: 2px 2px #00000029;
    margin-top: 0;
    margin-left: 5%;
}

.project-description{
    margin-left: 8%;
}

.left-project{
    display: block;
}

.project-link{
    margin-left: 8%;
}
.project-link:hover{
    font-style: italic;
}

.image-section{
    height: auto;
    width: 20%;
    display: inline;
}

.project-card:hover{
    transform: scale(1.1);
}

img{
    max-width:99%;
    max-height: 99%;    
}

@media only screen and (max-width: 768px){
    .image-section,img{
        display: none;
    }
    .project-card{
        justify-content: center;
    }
    .project-title, .project-description, .project-link{
        text-align: center;
        display: block;
    }
}