h1{
    text-align: center;
}

.project-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid black;
    max-width: 90%;
    border-radius: 5px;
}
.project-title{
    text-shadow: 2px 2px #00000029;
    margin-top: 0;
    margin-left: 5%;
}

.project-description, .project-role{
    margin-left: 8%;
}

.left-project{
    display: block;
    flex: 1;
}

.project-link{
    margin-left: 8%;
}
.project-link:hover{
    font-style: italic;
}

.image-section{
    height: auto;
    width: 30%;
    margin: 15px;
    display: flex;
    justify-content: center;
}

img{
    max-width:200px;
}

@media only screen and (max-width: 768px){
    .image-section,img{
        display: none;
    }
    .project-card{
        justify-content: center;
    }
    .project-title, .project-description, .project-link, .project-role{
        text-align: center;
        display: block;
    }
}