h1{
    text-align: center;
    background-color: whitesmoke;
    margin: 0;
}

.boxContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background-color: whitesmoke;
}

.box>h2{
    text-align: center;
    color: white;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 3px 3px 9px 0px #00000080;
    height: 30em;
    width: 35em;
    padding: 0 30px;
}

.box:hover{
    transform: scale(1.1);
}

.boxLeft{
    background-image: url('/img/web.jpg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.boxRight{
    background-image: url('/img/concert.jpg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .boxContainer{
        margin: auto;
        flex-direction: column;
        width: 75%;
    } 
    .boxRight, .boxLeft{
        margin-bottom: 10%;
        padding: 20% 15%;
        width:90%;
    }
}