h1{
    text-align: center;
}

sub{
    text-align: center;
    Margin: auto;
}

.boxContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10% 0%;
}

.boxRight,.boxLeft>h2{
    text-align: center;
    color: white;
}

.boxRight, .boxLeft{
    display: block;
    padding: 10% 15%;
    border: 1px solid black;
    border-radius: 3px;
}

.boxRight:hover, .boxLeft:hover{
    transform: scale(1.1);
}

.boxLeft{
    background-image: url('/img/web.jpg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.boxRight{
    background-image: url('/img/concert.jpg');
    background-size: cover;
    background-position: center;
    cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
    .boxContainer{
        margin: auto;
        flex-direction: column;
        width: 75%;
    } 
    .boxRight, .boxLeft{
        margin-bottom: 10%;
        width:90%;
    }
}