<link rel="stylesheet" href="/css/about.css">


<div class="container">
    <div class="content">
            <h1>About Me!</h1>
        <p>I am an avid learner of all things relating to technology and online business. My previous experience working
            with research and tech companies has taught me how important a fun and easy-to-use product can be for the customer
            and client alike.</p>

        <p>Growing up, I always had a passion for technology. I was always the kid that had my head in my gameboy or behind
            a computer screen of some sort. I had spent many years during middle school and high school learning from and
            helping friends and family set up their computers, hardware issues, virus removal, backing up information, setting
            up routers, and assist with building and upgrading computers. </p>

        <p>After a while, I decided that I would start learning how to create my own software. I had done a project in high
            school called “Career Cruising” where we would research future career paths and found that I had a deep interest
            in programming.</p>

        <p>My first dive into learning how to code was learning the BASIC programming language. I had found Liberty BASIC
            and began to learn the fundamentals of programming through there. I fell in love with the idea of developing
            for the web and the scope of what is possible through the web browser so I had started learning HTML, CSS, and
            Javascript but didn’t really get very far into the latter until some years later.</p>

        <p>After high school, I put development on hold because I had decided that I would focus full-time on my musical
            endeavors, joined a few bands, put out an album, and decided that I would finally come back to coding which led
            me to where I am now. Within the past year, I began re-learning with online tutorials through Udemy and Lynda
            before joining an intensive coding bootcamp to get my skills to the next level.</p>

        <p>I’m excited to finally bring my passion for coding into my future career.</p>
    </div>
    <img src="/img/rw.jpg" alt="roger winright">
</div>