<div class="greeting">
    <h1>Roger Winright</h1>
    <h2>Web Developer | Musician</h2>
    <img src="img/rwrock.jpg" alt="Roger Winright" id="changeImg">
</div>
<div class="container">
    <h2>My Portfolio</h2>
    <div class="cards">
        <a href="#!/about" class="card">
            <p>About Me</p>
        </a>
        <a href="#!/work" class="card">
            <p>My Work</p>
        </a>
        <a href="#!/contact" class="card">
            <p>Contact</p>
        </a>

    </div>
</div>