<link rel="stylesheet" href="/css/webwork.css">
<h1>Web/Mobile/Game Development Projects</h1>

<div class="project-card" ng-repeat="posts in $ctrl.post">
    <div class="left-project">
        <h2 class="project-title">{{$ctrl.post[$index].title}}</h2>
        <p class="project-description">{{$ctrl.post[$index].description}}</p>
        <p class="project-role">My role: {{$ctrl.post[$index].myRole}}</p>
        <a class = "project-link" ng-show="{{$ctrl.post[$index].link}}" href="{{$ctrl.post[$index].link}}">Take a look</a>
    </div>
    <div class="image-section">
        <img src="{{$ctrl.post[$index].img}}" alt="">
    </div>
</div>